html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none}article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent;text-decoration:underline}a:active,a:hover{outline:0;text-decoration:none}ol,ul{list-style:none}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;max-width:100%}svg:not(:root){overflow:hidden}figure{margin:1em
40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:100%}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal;outline:none}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px
solid #c0c0c0;margin:0
2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}.slick-slider{position:relative;display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:none;touch-action:none;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;margin:0
0 30px 0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide
img{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;left:0;top:0;display:block;zoom:1}.slick-track:before,.slick-track:after{content:"";display:table}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{float:left;height:100%;min-height:1px;display:none}.slick-slide
img{display:block}.slick-slide.slick-loading
img{display:none}.slick-slide.dragging
img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px
solid transparent}.slick-dots{width:100%;bottom:0;left:0;padding:0;margin:0;height:30px;position:absolute;text-align:center}.slick-dots
li{display:inline-block;width:28px;height:28px;border-radius:50%;border:1px
solid #88827b;margin:0
8px}.slick-dots li
button{height:22px;width:22px;border-radius:50%;text-indent:-999px;border:none;background:#88827b;margin:3px;padding:0;opacity:0;outline:none}.slick-dots li.slick-active
button{opacity:1}.wrapper.about
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.header{height:960px;position:relative;z-index:7;top:0;left:0;right:0}.sectionName{height:50px;padding-top:0;padding-bottom:0}.sectionName
span{font:14px/50px 'Poiret One', cursive}.sectionName
i{top:5px}.header nav
.touch{top:7px;left:15px}.header
.more{width:185px;margin-left:-92px;padding:0
25px 0 49px}.header .social li, .header nav .lang
li{width:45px;height:45px;margin:0
8px}.header nav
.lang{top:52%;right:23px}.header nav .lang li:last-child{margin:0
8px;margin-bottom:5px}.header nav.active
.mainNav{padding:65px
0}.header nav.active  .mainNav
li.index{margin-bottom:16px}.header nav.active
.info{padding-top:14px}.header nav ul.siteNav, .header nav.active
ul.siteNav{display:none}.production.tours
.picture{position:relative;padding:0;background-attachment:fixed}.production .picture
h1{position:absolute;right:0;bottom:50px;left:0;width:auto;margin-right:auto;margin-left:auto;padding:0
50px}.production{padding:0;padding-bottom:100px}.production
.picture{margin-bottom:45px;padding:0}.production article
h3{margin-bottom:18px}.about
.picture{position:relative;background:url('../images/large/about.jpg') center/cover no-repeat;background-attachment:fixed;text-align:center}.about .picture
h1{position:absolute;right:0;bottom:50px;left:0;font:36px/30px 'Poiret One', cursive;color:#fff}.about
.brief{margin:50px
-25px 60px -25px;padding:30px
20px 32px 20px;border:1px
solid  #d9d8c9;border-radius:15px}.about .brief .brief-ic{position:relative;width:150px;height:150px;margin:0
auto;margin-bottom:20px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.about .brief .brief-ic.circle:after{display:block;content:'';position:absolute;top:2%;left:2%;width:91%;height:91%;border:4px
solid #fff;border-radius:50%}.circle{border-radius:50%}.about .brief
h2{margin-bottom:20px;font:24px/30px 'Noto Serif', serif;text-align:center}.about .brief-txt
p{font:14px/26px 'Noto Serif', serif}.about .brief-txt
cite{display:block;margin-top:28px}cite{position:relative;padding-left:20px;font-style:italic}cite:before{display:block;content:'—';position:absolute;left:0;top:0px}.about
.story{position:relative;padding-bottom:40px;margin:0
-25px 68px -25px;text-align:center}.about .story:last-child{padding-bottom:53px}.about .story-jst{text-align:left}.about .story-ic{margin-top:24px;margin-bottom:12px}.about .story
h2{margin-bottom:16px;font:24px/30px 'Noto Serif', serif}.about .story-jst
h2{text-align:center}.about .story
p{margin:0
20px;margin-bottom:35px;font:14px/26px 'Noto Serif', serif}.about .story:after{position:absolute;right:0;left:0;margin-right:auto;margin-left:auto;width:78px;bottom:0;border-bottom:1px solid #d9d8c9;content:'';display:block}.about .story-n{margin:0
-10px 0 -10px}.about .story-n
img{display:block;max-width:183px;margin:0
auto;margin-bottom:18px}.about .story-n
p{margin-right:10px;margin-bottom:25px;margin-left:10px}.about .story-n p:last-child{margin-bottom:0}.about .story-n:after{display:none;content:none}.fw{position:relative;background:url('../images/medium/promo.png') center/cover no-repeat;background-attachment:fixed;color:#fff;text-align:center;overflow:hidden}.fw
.pattern{position:absolute;z-index:2;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,.33)}.fw-img{position:absolute;z-index:1;width:auto;height:100%;top:0;left:0}.fw-descr{position:relative;z-index:3;padding:106px
20px 148px 20px}.fw-descr
h2{margin-bottom:40px;font:36px/36px 'Poiret One', cursive}.fw-descr
p{font:24px/30px 'Noto Serif',serif}.ord{padding-top:58px}.ord
h2{margin-bottom:48px;font:24px/30px 'Noto Serif',serif;text-align:center}.trd{margin-bottom:25px;font:14px/26px 'Noto Serif', serif}.ord .trd:last-child{margin-bottom:0}.tour-partners{position:relative;margin:50px
-20px 0 -20px;padding-bottom:25px}.tour-partners
h2{position:relative;margin-bottom:15px;font:36px/36px 'Poiret One', cursive;text-align:center}.tour-partners h2
span{padding:0
25px;background-color:#fffeec}.tour-partners
.item{display:block;width:50%;float:left;margin-top:18px}.tour-partners .item-inner{width:100px;border-radius:50%;margin:0
auto}.tour-partners .item-inner
img{display:block;position:relative;width:100%;height:auto}.tour-partners:before{top:16px;right:-5px;bottom:0px;left:-5px;border:1px
solid #d9d8c9;border-radius:15px;content:'';display:block;position:absolute}.ord-sc{padding-top:55px}.ord-sc
h2{margin-bottom:25px}.about
.sender{margin:60px
-25px 175px -25px;padding:40px
15px 46px 15px;border:10px
solid  #bb8748}.about .sender
p.title{margin-bottom:32px;font:24px/30px 'Noto Serif', serif;font-weight:bold;font-style:italic;color:#000}.about .sender .form input[type="text"], .about .sender .form input[type="email"], .about .sender .form
textarea{border-color:#d9d8c9}.about .sender .form
textarea{height:158px}.about .sender .form
.but{margin-top:23px;margin-bottom:25px;padding:0
60px}.about .sender
.req{padding:0
30px;font:12px/16px 'Noto Serif', serif;font-style:italic}.about .sender
.req__dot{color:#bb8748}.about  .sender-center{text-align:center}.about
.partners{position:relative;margin:55px
-20px 80px -20px;padding-bottom:16px}.about .partners
h2{position:relative;margin-bottom:30px;font:36px/36px 'Poiret One', cursive;text-align:center}.about .partners h2
span{padding:0
25px;background-color:#fffeec}.about .partners
.item{margin-bottom:32px;padding:0
20px;text-align:center}.about .partners .item
.item__img{position:relative;width:125px;height:145px;margin:0
auto;margin-bottom:5px}.about .partners .item .item__img
img{display:block;position:absolute;max-width:100%;top:0;right:0;bottom:0;left:0;margin:auto}.about .partners:before{top:16px;right:-5px;bottom:0px;left:-5px;border:1px
solid #d9d8c9;border-radius:15px;content:'';display:block;position:absolute}.about .partners .item
p{font:16px/24px 'Noto Serif',serif}.footer.wide{background-image:none;background:#d9d8c9}@media screen and (min-width: 768px){.sectionName{width:70px;height:auto;padding:0}.sectionName
i{top:50%}.header nav
.touch{width:42px;height:42px;top:14px;left:14px}.header
nav.active{padding:10px
40px 20px}.header nav.active
.touch{top:40px;left:37px}.header nav.active
.mainNav{padding:140px
0}.header nav.active .mainNav
li{font:36px/60px 'Poiret One', cursive;text-align:right}.header nav.active .mainNav
li.index{margin-bottom:153px;text-align:center}.header nav.active .mainNav li.index
a{width:130px;height:90px;background:url('../images/medium/logo.png') center no-repeat;background-size:contain}.header nav.active
.lang{width:180px;top:auto;bottom:130px;right:0;left:0;margin-right:auto;margin-left:auto}.header nav.active .lang
li{float:left;font-size:24px;line-height:60px;margin:0
0px}.header nav.active
ul.siteNav{display:block;position:absolute;top:39%;opacity: .5}.header nav.active .siteNav
li{position:relative;padding-left:58px}.header nav.active .siteNav li .ic-site{position:absolute;left:0}.header nav.active .siteNav li
a{font:18px/36px 'Poiret One', cursive;color:#fff;text-transform:uppercase}header.header
.inblock{top:175px}header.header
.logo{margin:0
auto 90px}header.header
h1{margin-bottom:100px;padding:0
100px}.header
.social{position:absolute;bottom:180px;right:0;left:0;margin-right:auto;margin-left:auto}header.header .social li, header.header nav .lang
li{width:60px;height:60px}header.header
.help{right:70px;bottom:88px}header.header .help
sup{top:6px;left:-12px}header.header
.more{width:263px;height:60px;bottom:100px;margin-left:-131px;line-height:60px}header.header .more:after{width:40px;height:24px}.production{padding-bottom:230px}.production
.picture{margin-bottom:90px}.production .picture
h1{bottom:108px;padding:0
100px;line-height:64px}.production article
h2{margin-bottom:50px}.about .picture
h1{bottom:110px;font:72px/72px 'Poiret One', cursive}.about
.brief{margin:100px
-50px 100px -50px;padding:77px
60px 70px 60px;overflow:hidden}.about .brief
.left{float:left}.about .brief .brief-txt{width:63.5%;float:right}.about .brief
h2{margin-top:-5px;margin-bottom:23px;font-size:30px;line-height:36px;text-align:left}.about
.story{margin:0
-50px 75px -50px;padding-bottom:70px}.about .story-ic{margin-bottom:45px}.about .story
h2{margin-bottom:45px;padding:0
55px;font-size:30px;line-height:36px}.about .story
p{margin:0
55px}.about .story
.left{float:left}.about .story .story-txt{width:70%;float:right}.about .story-n{margin:0
10px 0 10px}.about .story
.left{width:26%}.about .story-n.story .left
img{max-width:100%}.about .story .story-txt{width:63.5%}.about .story-n
h2{margin-bottom:52px}.about .story.story-n
p{margin:0;margin-bottom:25px}.about .story.story-n .story-ic{margin-top:10px}.about .story:last-child{padding-bottom:135px}.fw-img{width:100%;height:auto}.fw-descr{padding:110px
95px 145px 95px}.fw-descr
h2{margin-bottom:55px;font-size:72px;line-height:1}.fw-descr
p{font-size:30px;line-height:36px}.ord{padding-top:110px;padding-right:10px;padding-left:10px}.ord
h2{margin-bottom:45px;font-size:30px;line-height:36px}.tour-partners{margin:120px
-48px 0 -48px;padding-bottom:90px;text-align:center}.tour-partners:before{top:28px}.tour-partners
h2{margin-bottom:75px;font-size:72px}.tour-partners h2
span{padding:0
55px}.tour-partners
.item{display:inline-block;width:32%;float:none}.ord-sc{padding-top:80px}.ord-sc
h2{margin-bottom:50px}.about
.sender{margin:110px
10px 115px 10px;padding-top:48px}.about .sender
p.title{margin-bottom:40px;font-size:30px;line-height:36px}.about .sender
.form{margin:0
80px}.about .sender
.req{padding:0
20px}.about
.partners{margin:60px
-45px 80px -45px;margin-bottom:235px;padding:0
30px}.about .partners:before{top:42px}.about .partners
h2{margin-bottom:55px;font-size:72px;line-height:1}.about .partners
.item{width:50%;float:left;margin-bottom:80px}.about .partners h2
span{padding:0
55px}.footer.wide{padding-top:60px;padding-bottom:30px}.footer.wide
.inblock{padding:0
100px}.footer.wide
address{width:50%;float:left}}@media screen and (min-width: 1280px){.header
.social{bottom:90px;right:auto;left:115px}.header nav.active
.mainNav{width:300px;height:620px;margin:0
auto;padding:90px
0;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto}.header nav
.touch{cursor:pointer}.header nav.active .mainNav
li{text-align:center}.header nav.active .mainNav
li.index{margin-bottom:128px}.header nav.active
.lang{width:60px;right:60px;bottom:50%;left:auto;margin-bottom:-80px}.header nav.active
.info{width:450px;right:0;left:0;margin-right:auto;margin-left:auto}.sectionName{width:70px;height:auto;padding:0}.sectionName
i{top:50%}header.header
.more{top:auto;bottom:240px;margin-left:-134px}header.header
.help{right:110px}header.header
h1{right:0;left:0;margin-right:auto;margin-left:auto}.wrapper{position:relative}header.header{position:absolute;top:0}header.header
.inblock{top:0;padding-top:100px}.production
.picture{padding:0;background-size:100%;transition:all 1.3s ease}.production.active
.picture{background-size:120%;transition:all 1.8s ease}.production
.picture{;background-attachment:fixed}.rew .partners
.item{opacity: .5;transition:opacity 0.3s ease}.rew .partners .item
img{cursor:pointer}.rew .partners .item:hover{opacity:1;transition:opacity 0.3s ease}.story-n
.left{float:left;width:305px;margin-right:65px}.story-n .left
img{width:100%;height:auto}.trd{width:33.333%;float:left}.about
.inblock{width:1040px;max-width:none;padding:0}.about
.brief{margin-bottom:90px;padding:77px
105px 30px 92px}.about .brief .brief-ic{width:300px;height:300px;margin-top:-15px}.about .brief .brief-ic.circle:after{top:2%;left:2%;width:92%;height:92%;border:6px
solid #fff}.about .brief .brief-txt{width:580px}.about .story
h2{margin-bottom:50px;padding:0
120px}.about .story
p{margin:0
200px}.about .story-n{margin:0
35px}.about .story.story-n .story-ic{width:305px;margin-right:65px}.about .story .story-txt{width:580px;float:left}.fw-descr{width:770px;margin:0
auto;padding:165px
0 160px 0}.ord{padding-top:92px;padding-right:48px;padding-left:48px}.trd{width:31%;margin-right:3%;padding-right:20px}.ord
.trd.last{margin-right:0}.tour-partners{margin:102px
-48px 0 -48px;padding-bottom:75px;text-align:center}.tour-partners
.item{display:inline-block;width:19%;float:none}.tour-partners .item-inner
img{cursor:pointer}.ord-sc{padding-top:110px}.ord-sc
h2{width:500px;margin-right:auto;margin-left:auto}.about
.sender{width:750px;margin:95px
auto 115px auto}.about .sender
p.title{margin-right:100px;margin-left:100px}.about .sender
.form{margin:0
170px}.about
.partners{margin-bottom:155px}.about .partners
.item{margin-bottom:70px;text-align:left}.about .partners .item:nth-child(even){padding-left:65px}.about .partners .item:nth-child(odd){padding-right:65px}.about .partners .item
.item__img{float:left;margin-right:15px}.about .partners .item
p{margin-top:50px}.footer.wide{position:relative;left:0;padding:30px
0}.footer.wide
.inblock{width:1140px;margin:0
auto;padding:0;height:auto}.footer.wide
.clear{display:none}.footer.wide
.clear.lg{display:block;border-top:1px solid #B9B9AC;padding-bottom:30px}.footer.wide
address{float:left;width:245px;margin-right:50px}.footer.wide
.social{float:right;width:16%;margin:0;border:none}.footer.wide .social
li{float:right}}.tooltipster-default{border-radius:0;border:2px
solid #bb8748;background:#fffeec;color:#000;font:11px/20px 'Noto Serif', serif}.tooltipster-default .tooltipster-content{font:11px/20px 'Noto Serif', serif;padding:25px
30px 30px 30px;text-align:center;overflow:hidden}.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border{}.tooltipster-icon{cursor:help;margin-left:4px}.tooltipster-base{padding:0;font-size:0;line-height:0;position:absolute;left:0;top:0;z-index:9999999;pointer-events:none;width:auto;overflow:visible}.tooltipster-base .tooltipster-content{overflow:hidden}.tooltipster-arrow{display:block;text-align:center;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1}.tooltipster-arrow span,.tooltipster-arrow-border{display:block;width:0;height:0;position:absolute}.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left
span{border-left:22px solid transparent !important;border-right:22px solid transparent !important;border-top:20px solid;bottom:-20px}.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border{border-left:24px solid transparent !important;border-right:24px solid transparent !important;border-top:22px solid;bottom:-20px}.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left
span{border-left:8px solid transparent !important;border-right:8px solid transparent !important;border-bottom:8px solid;top:-7px}.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border{border-left:9px solid transparent !important;border-right:9px solid transparent !important;border-bottom:9px solid;top:-7px}.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border{left:0;right:0;margin:0
auto}.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left
span{left:6px}.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border{left:5px}.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right
span{right:6px}.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border{right:5px}.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border{border-top:8px solid transparent !important;border-bottom:8px solid transparent !important;border-left:8px solid;top:50%;margin-top:-7px;right:-7px}.tooltipster-arrow-left .tooltipster-arrow-border{border-top:9px solid transparent !important;border-bottom:9px solid transparent !important;border-left:9px solid;margin-top:-8px}.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border{border-top:8px solid transparent !important;border-bottom:8px solid transparent !important;border-right:8px solid;top:50%;margin-top:-7px;left:-7px}.tooltipster-arrow-right .tooltipster-arrow-border{border-top:9px solid transparent !important;border-bottom:9px solid transparent !important;border-right:9px solid;margin-top:-8px}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}.tooltipster-fade-show{opacity:1}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}.tooltipster-grow-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}.tooltipster-swing-show{opacity:1;-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-o-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,1);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-moz-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-ms-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-o-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4)}.tooltipster-fall{top:0;-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}.tooltipster-fall-show{}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0px !important;opacity:0}.tooltipster-slide{left:-40px;-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}.tooltipster-slide.tooltipster-slide-show{}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0px !important;opacity:0}.tooltipster-content-changing{opacity:0.5;-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-o-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);transform:scale(1.1, 1.1)}